.education {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 80px;
}

.education > img {
    object-fit: contain;
    width: 100%;
    flex: 0.5;
    min-width: 600px;
}

.education > img:hover {
    transform: none;
    cursor: initial;
}

.edu-right {
    flex: 0.5;
    display: grid;
    place-items: center;
}

.edu-right > h1 {
    font-weight: 400;
    color: rgba(81, 146, 88, 0.897);
}

.degree-box > img  {
    object-fit: contain;
    width: 100%;
}

.degree-box > img:hover {
    cursor: initial;
    transform: none;
}

.degree-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#year {
    color: gray;
    font-style: italic;
}