.contact {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact > div {
    display: flex;
}

#contact-img {
    object-fit: contain;
    cursor: initial;
    transform: none;
}

#contactme {
    font-size: 42px;
    display: grid;
    place-items: center;
}

.second-contact {
    margin-top: 80px;
    display: flex;
    width: 100%;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-side > h1 {
    font-weight: 600;
}

.right-side > * {
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 22px;
    display: grid;
    place-items: center;
    width: 100%;
}

img:hover {
    cursor: initial;
    transform: none;
}