.nav {
    position: sticky !important;
    top: 0 !important;
    background-color: #E5E5E5 !important;
    z-index: 1000 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: transparent !important; */
}
/* 
.nav > * {
    background-color: transparent !important;
} */

nav > a > img {
    flex: 0.5;
    margin-left: 55px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0.5;
}

li  > a {
    text-decoration: none;
    border-bottom: none;
    color: black;
    background-color: transparent !important;
    letter-spacing: 1px;
    text-transform: capitalize;
}

li:hover {
    transform: scale(1.1);
    transition: 1s all ease;
}

a:hover {
    color: #53C1DE;
}

#two > h1 {
    display: grid;
    place-items: center;
}