* {
    background-color: #E5E5E5;
    /* background-color: rgba(186, 214, 206, 0.253) !important; */
    font-family: sans-serif;
}

.App {
    margin-top: 20px;
    background-color: transparent !important;
    height: 100vh;
}